//THEME COLORS
$primary: #326dee !default;
$secondary: #1ac888 !default;
$error: #d32752 !default;
$info: #f6c31c !default;

//COLOR PALLETES
$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'error': $error,
  'info': $info,
  'blue': #1919e6,
  'red': #e61616,
  'green': #19e635,
  'yellow': #e6e619,
  'orange': #ffa600,
  'purple': #9900ff,
  'grey': #808080,
  'black': #000,
  'white': #fff,
);

.test-btn {
  background-color: map-get($colors, 'secondary');
}
// @debug map-get($color, 'green');
// @debug map-has-key($color, 'tertial');
// @debug map-remove($color, 'primary');
// @debug map-merge(
//   $color,
//   (
//     'pink': #ffc0cb,
//   )
// );

//SPACING
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// BORDERS
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

//BOX-SHADOW
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

//FONT-SIZE
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;
